.cus-card-title{
    font-weight: 800;
    padding: 50;
}

.cus-input-div input, textarea{
    margin-bottom: 10px;
}

.container .card{
    margin-top: 1%;
}


.cus-navbar{
    padding: 0;
    margin: 0;
}

.cus-container{
    padding: 0;
}

.cus-cards
{
    padding-bottom: 1%;
}